*{
    padding: 0;
    margin: 0;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #000000;
	--grey: #1b1b1b;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.section-p1{
	padding: 40px 60px;
}

h3, h4{
	color: var(--dark);
}


:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--maroon: #5F0000;
	--light-maroon: #D03D56;
	--mystic-blue: #6868AC;
	--neutral-light-blue: #8C9BB5;
	--blue-green: #3F8077;
	--teal-blue: #77C7D3;
}

#header {
    padding: 10px 30px;
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
}

#header ul li{
    list-style: none;
}

#header ul li a{
	display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
	margin: 0 15px;
} 

#header h2{
    color: var(--dark);
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background: var(--light);
	z-index: 998;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}

#sidebar .logo{
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--dark);
	background: var(--light);
	box-sizing: content-box;
	padding-top: 50px;
	padding-bottom: 30px;
	justify-content: start;

}

#sidebar img{
	width: 35px;
	height: 35px;
	margin: 0 10px 0 15px;

}

#sidebar .side-menu {
	width: 100%;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

#sidebar .side-menu li a span{
    font-size: 12px;
    font-weight: 600;

}

#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}

#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	width: 15px;
    height: 18px;
	display: flex;
	justify-content: center;
    margin: 0 15px 0 10px;
	
}

#content {
	position: relative;
	width: calc(100% - 200px);
	left: 200px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}


#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 997;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

#content nav form{
	display: none;
}

#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}

#content #main-content {
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
}

.employee-profile{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-gap: 30px;
	
}
.image-container img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.image-container button{
	padding: 10px 20px;
	border: 1px solid var(--light);
	background: var(--maroon);
	border-radius: 10px;
	cursor: pointer;
	margin-top: 20px;
	color: var(--light);
}

.image-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--light-blue);
}

.profile{
	display: grid;
	grid-template-columns: 0.4fr 1fr;
	border-radius: 4px;
}


.detail-container{
	display: flex;
	flex-direction: column;
	background: var(--light);
	padding: 15px 25px;
	border-radius: 4px;
}

.detail-container .name-employee{
	padding: 20px 0;
	border-bottom: 1px solid rgb(185, 185, 185);
}

.edit-contact button, .edit-info button{
	padding: 10px 20px;
	border: 1px solid var(--light);
	background: var(--maroon);
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	top: -10px;
	left: 0px;
	color: var(--light);
}

.edit-contact, .edit-info{
	display: flex;
	justify-content: space-between;
	padding: 20px 0 8px 0;
	border-bottom: 1px solid rgb(185, 185, 185);
}


.department, .position, .date-hire, .birthday, .location,
.email, .contact, .work-phone
 {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid rgb(185, 185, 185);
}

.payslip, .employee-benefits{
	display: flex;
	flex-direction: column;
	background: var(--light);
}

.payslip{
	padding: 20px 30px 0 30px;
}

.employee-benefits{
	padding: 20px 30px 20px 30px;
}

.attendance{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #d2d6de;
	padding: 30px 0;
	height: 65vh;
}

.login-logo p{
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
}

.login-logo #date{
	font-weight: 100;
}

.login-logo #time{
	font-weight: bold;
}

#attendance p{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 25px 0;
}

.calendar ul{
	display: flex;
	margin-top: 40px;
}

.calendar ul li{
	margin: 0 10px;
}

.statistic{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 30px;
}

.statistic .box{
	display: flex;
	flex-direction: row;
}

.statistic .box-details{
	padding: 0 20px
}

.statistic .details .box:nth-child(2){
	margin: 60px 0;
}

.statistic .details .box .box-color{
    width: 5px;
}

.statistic .details .box:nth-child(1) .box-color{
     background: var(--maroon);
}
.statistic .details .box:nth-child(2) .box-color{
	 background: var(--blue);
}
.statistic .details .box:nth-child(3) .box-color{
	 background: gray;
}

.graph-box{
	width: 100%;
	display: flex;
	min-height: 150px;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.details{
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}

.view-payslip{
	display: flex;
	justify-content: center;
	padding: 25px 0;
	border-top: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);;
	margin-top: 30px;
}

.view-payslip a{
	color: var(--maroon);
}

.benefits-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}

.benefits-container .benefits-box{
	margin: 15px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.benefits-container .benefits-box h6{
	text-align: center;
}

.benefits-container .benefits-box img{
	width: 90px;
	height: 90px;
}

.attendance form{
	background: var(--light);
	padding: 20px 15px;
	width: 300px;
}

.form-control{
	height: 40px;
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 0px 10px;
	border: 1px solid#d2d6de;
}

.form-group{
	display: flex;
	width: 100%;
	position: relative;
}

.form-control:focus{
	outline: none;
	border: 1px solid var(--maroon);
}

.button button{
	padding: 10px 30px;
	background: var(--maroon);
	color: var(--light);
	border: none;
	border-radius: 40px;
	cursor: pointer;
	margin-top: 5px;
}

.form-control-feedback{
	position: absolute;
	top: 22px;
	right: 0px;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #777;
}

