:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
  
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --maroon: #5F0000;
    --light-maroon: #D03D56;
    --mystic-blue: #6868AC;
    --neutral-light-blue: #8C9BB5;
    --blue-green: #3F8077;
    --teal-blue: #77C7D3;
  }
  .body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url(../img/bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    background-color: var(--light);
    box-shadow: 0 5px 15px var(--dark);
    position: absolute;
      top: 50%;
      left: 50%;
   transform: translate(-50%, -50%);
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.container button{
    background-color: var(--maroon);
    color: var(--light);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: var(--light);
}

.container form{
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

form h1{
  margin-bottom: 40px;
}


.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.user-box{
  position: relative;
}

.user-box input {
  width: 330px;
  padding: 10px 0;
  font-size: 16px;
  color: var(--dark);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--dark);
  outline: none;
  background: transparent;
}
.user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--dark);
  pointer-events: none;
  transition: .5s;
}
 .user-box input:focus ~ label,
 .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--maroon);
  font-size: 12px;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}


.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    padding: 0 0px;
}

.container.active .toggle-container{
    transform: translateX(-100%);
}

.toggle{
    background-color: var(--maroon);
    height: 100%;
    background: linear-gradient(to right, var(--maroon), var(--light-maroon));
    color: var(--light);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

.toggle-container button a{
  text-decoration: none;
}

