* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--palatino);
}
ul {
    padding: 0;
    margin: 0;
}

.card-body li {
    margin-left: 50px;
}

a {
    padding: 2px 0px;
}

:root {
	--palatino: 'Palatino-Bold';

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--maroon: #5F0000;
	--light-maroon: #D03D56;
	--mystic-blue: #6868AC;
	--neutral-light-blue: #8C9BB5;
	--blue-green: #3F8077;
	--teal-blue: #77C7D3;
    --white: #fff;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: var(--maroon);
    box-shadow: 0 5px 15px rgba(32, 32, 32, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img{
    width: 60px;
    height: 60px;
}

#header .bar{
    width: 21px;
    height: 21px;
}

#header .close{
    width: 15px;
    height: 15px;
}

#header #close{
    color: white;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;

}

#navbar li a, #navbar li button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    transition: 0.3s ease;
    text-transform: uppercase;

}

#navbar li button{
    background: none;
    border: none;
    cursor: pointer;
}

#header #navbar li a:hover,
#header #navbar li button:hover,
#header #navbar li.active a{
    color: var(--light-maroon);
}

.dropdown-menu{
    display: none;
}

.dropdown-menu li:hover{
    background: var(--light);
    transition: 0.3s;
}

#navbar .dropdown-menu ul li:hover a{
    color: var(--light-maroon);
}

#navbar li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 5px;
    top: 100%;
    background: var(--maroon);
    box-shadow: 0px 0px 1.5px 0px var(--light);
    z-index: 1;
}

#navbar li:hover .fas-about{
    transform: rotate(-180deg);
    transition: 0.3s;
}

#navbar li:not(:hover) .fas-about{
    transform: rotate(0deg);
    transition: 0.3s;
}

#navbar .dropdown-menu ul{
    display: block;
    
}

#navbar .dropdown-menu ul li{
    width: 220px;
    padding: 10px;
    cursor: pointer;
}

#navbar .dropdown-menu ul li a{
    color: var(--light);
}


#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1002;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background: url("../../../img/bg1.jpg");
    background-position: center;
    background-size: cover;
}

.signup .form-details {
    padding: 0 20px;
    background: url("../../../img/bg1.jpg");
    background-position: center;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid var(--maroon);
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid var(--light-maroon);
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--maroon);
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: var(--light-maroon);
    font-size: 0.75rem;
}

.form-box a {
    color: var(--maroon);
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: var(--maroon);
    transition: 0.2s ease;
}

form button:hover {
    background: var(--light-maroon);
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

.show-hide{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.show-hide i{
  font-size: 19px;
  color: var(--maroon);
  cursor: pointer;
  display: none;
}
.show-hide i.hide:before{
  content: '\f070';
}
input:valid ~ .show-hide i{
  display: block;
}

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #DC0000;
  transition: all 0.2s ease;
  z-index: 1000;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
  z-index: 1000;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #AE0000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}


#refresh {
  position: absolute;
  right: 15px;
  cursor: pointer;
  display: block;
}

.chatbot .form{
    padding: 20px 15px 50px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: 410px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbot .form .inbox{
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: baseline;
}
.chatbot .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.chatbot .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #AE0000;
}

.material-symbols-outlined{
  width: 32px;
  height: 32px;
  color: #fff;
  text-align: center;
  margin: 7px 0 0 0;
}
.chatbot .form .inbox .msg-header{
    max-width: 60%;
    margin-left: 10px;
}
.form .inbox .msg-header p{
  white-space: pre-wrap;
  padding: 12px 16px;
  max-width: 100%;
  color: #fff;
  font-size: 0.95rem;
  background: #AE0000;
  border-radius: 0px 10px 10px 10px;
}
.form .user-inbox .msg-header p{
    color: #333;
    background: #efefef;
    border-radius: 10px 10px 0 10px;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input input {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

.chatbot header h2 {
  font-size: 1.4rem;
  color: white;
}

.chat-input button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #AE0000;
    border: 1px solid #AE0000;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.chat-input input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.chat-input button:hover{
    background: #800000;
}

.tooltip {
    position: absolute;
    top: calc(100% - 10px); 
    right: calc(100% - 20px); 
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1001;
    display: block;
}

.chat-logo{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

}

.g-recaptcha-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

@media (max-width: 930px) {
    .section-p1 {
        padding: 40px 40px;
    }

   #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -930px;
    height: 100vh;
    max-width: 930px;
    width: 100%;
    background-color: var(--maroon);
    box-shadow: 0 40PX 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    z-index: 999;
    transition: 0.4s;
    }

    #navbar li{
        margin-bottom: 20px;
    }

    #navbar.active{
        right: 0px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #ffffff;
        font-size: 24px;
        padding-left: 20px; 
    }
    .fa-solid, .fas {
       color: #ffffff;
     }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 20px;
    }


  }
  @media only screen and (max-width: 360px){
      
    li{
        padding: 0px;
    }
    
    
    #header img{
    width: 41px;
    height: 41px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        height: 100vh;
        max-width: 360px;
        width: 100%;
        background-color: var(--maroon);
        box-shadow: 0 40PX 60px rgba(0, 0, 0, 0.01);
        padding: 77px 10px;
        z-index: 999;
        transition: 0.4s;
        }

    #header {
        padding: 60px 30px;
        
    }
    
    
     #header .center-title h3 {
        font-size: 14px;
    }
    #header .center-title p{
        font-size: 12px;
    }

    #header .help-policy li a {
        font-size: 12px;
    }

    #header {
        padding: 10px;
    }



  }
